# Зависимости
/node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Системные файлы
.DS_Store
Thumbs.db
.vscode/
.idea/

# Логи и результаты
/logs
*.log
/data/results/debug_*.png

# Файлы окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
